<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Monolito's Pizza</title>
</head>
<body>
<p th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</p>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<h1>Orders for this Store</h1>

<table>
    <thead>
    <tr>
        <td>Type</td>
        <td>Customer Name</td>
        <td>Status</td>
        <td>&nbsp;</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <td th:text="${order.type.displayName}">Dine-In</td>
        <td th:text="${order.customer.name}">BB-8</td>
        <td th:text="${order.status}">Eaten</td>
        <td><a th:href="@{/orderDetails(orderId=${order.id})}">Order Details</a></td>
    </tr>
    </tbody>
</table>

</body>
</html>