<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Monolito's Pizza</title>
</head>
<body>
<p th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</p>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<h1>Orders for this Store</h1>

<table>
    <thead>
    <tr>
        <td>Order #</td>
        <td>Type</td>
        <td>Customer Name</td>
        <td>Status</td>
        <td>&nbsp;</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <td th:text="${order.id}">42</td>
        <td th:text="${order.type}">Dine-In</td>
        <td th:text="${order.customer.name}">BB-8</td>
        <td>
            <form action="#" th:action="@{/updateOrderStatus}" method="post">
                <input type="hidden" th:name="orderId" th:value="${order.id}"/>
                <select th:name="orderStatus" th:value="${order.orderStatus}">
                    <option th:value="${T(com.monolitospizza.model.OrderStatus).RECEIVED}"
                            th:text="${T(com.monolitospizza.model.OrderStatus).RECEIVED.displayName}"
                            th:selected="${order.orderStatus == T(com.monolitospizza.model.OrderStatus).RECEIVED}">Status
                    </option>
                    <option th:value="${T(com.monolitospizza.model.OrderStatus).READY_FOR_PICKUP}"
                            th:text="${T(com.monolitospizza.model.OrderStatus).READY_FOR_PICKUP.displayName}"
                            th:selected="${order.orderStatus == T(com.monolitospizza.model.OrderStatus).READY_FOR_PICKUP}">Status
                    </option>
                    <option th:value="${T(com.monolitospizza.model.OrderStatus).OUT_FOR_DELIVERY}"
                            th:text="${T(com.monolitospizza.model.OrderStatus).OUT_FOR_DELIVERY.displayName}"
                            th:selected="${order.orderStatus == T(com.monolitospizza.model.OrderStatus).OUT_FOR_DELIVERY}">Status
                    </option>
                </select>
                <button type="submit">Update Status</button>
            </form>
        </td>
        <td><a th:href="@{/orderDetails(orderId=${order.id})}">Order Details</a></td>
    </tr>
    </tbody>
</table>

</body>
</html>