<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Monolito's Pizza</title>
</head>
<body>
<h1>Choose Toppings</h1>
<table>
    <form action="#" th:action="@{/addTopping}" method="post">
        <thead>
        <tr>
            <td><label th:for="${topping}">Topping</label></td>
            <td><select th:name="topping">
                <option th:each="topping : ${helper.toppingOptions}"
                        th:value="${topping.id}"
                        th:text="${topping.name}">Some Topping
                </option>
            </select>
            </td>
            <td><label th:for="${half}">Where?</label></td>
            <td><select th:name="location">
                <option th:value="${T(com.monolitospizza.helpers.ChooseToppingsViewHelperLocation).WHOLE}">Whole Pizza
                </option>
                <option th:value="${T(com.monolitospizza.helpers.ChooseToppingsViewHelperLocation).LEFT}">Left Half
                </option>
                <option th:value="${T(com.monolitospizza.helpers.ChooseToppingsViewHelperLocation).RIGHT}">Right Half
                </option>
            </select>
            </td>
            <td>
                <button type="submit">Add</button>
            </td>
        </tr>
        </thead>
        <input type="hidden" name="id" th:value="${helper.pizzaId}"/>
    </form>
    <tbody>
    <tr th:each="lineItem : ${helper.toppingLineItems}">
        <td></td>
        <td th:text="${lineItem.topping.name}">Sausage</td>
        <td></td>
        <td th:text="${lineItem.location}">Whole Pizza</td>
        <td>
            <form action="#" th:action="@{/removeTopping}" method="post">
                <input type="hidden" name="id" th:value="${helper.pizzaId}"/>
                <input type="hidden" name="topping" th:value="${lineItem.topping.id}"/>
                <input type="hidden" name="location" th:value="${lineItem.location}"/>
                <button type="submit">Remove</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<p>
<form action="#" th:action="@{/continueOrder}" method="get">
    <input type="hidden" name="order" th:value="${helper.orderId}"/>
    <button type="submit">Continue Order</button>
</form>
</p>
<p>
    <button type="submit">Checkout</button>
</p>
</body>
</html>