<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Monolito's Pizza</title>
</head>
<body>
<h1>Welcome to Monolito's Pizza!</h1>

<h2>Place a New Order:</h2>
<form action="#" th:action="@{/newOrder}" method="post">
    <p>
        <label for="store">Choose Store:</label>
        <select th:name="store">
            <option th:each="store : ${stores}"
                    th:value="${store.id}"
                    th:text="${store.address.streetAddress}">Some Topping
            </option>
        </select>
    </p>
    <p>
        <label for="orderType">Choose Order Type:</label>
        <select th:name="orderType">
            <option th:value="${T(com.monolitospizza.model.OrderType).FOR_PICKUP}" th:text="${T(com.monolitospizza.model.OrderType).FOR_PICKUP.displayName}">Pickup</option>
            <option th:value="${T(com.monolitospizza.model.OrderType).FOR_DELIVERY}" th:text="${T(com.monolitospizza.model.OrderType).FOR_DELIVERY.displayName}">Delivery</option>
        </select>
    </p>
    <p>
        <button type="submit">Go!</button>
    </p>
    <input type="hidden" th:name="customerId" th:value="${currentCustomer.id}"/>
</form>
</body>
</html>